<link rel="stylesheet" href="/statics/style2.css">
{{>_msg}}
<form action="/welcome" method="post">
    <h1>Login</h1>
    <input type="text" name="nomeLogin" id="nome" placeholder="Nome">
    <input type="password" name="senhaLogin" id="senha" placeholder="Senha">
    <button type="submit" onclick="validaTudo()">Adicionar</button>
</form>

