<link rel="stylesheet" href="/statics/style3.css">
<header>
    <a href="/">Home</a>
    <h1>Welcome</h1>
    <div></div>
</header>

<div class="opacity">
    <h1>This is your user page, {{nome}}</h1><br>
    <short>Account created at: {{data}}</short>
</div>